

<body class = "homepage">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <div class = "homepage" id = "homepage">
        <h1>Concert Finder!</h1>
        <h2>Enter an Artist to see their related artists:</h2>
        <form class="searchBar" action="/artist-name" method="GET" style="margin:auto;max-width:300px">
        <input type="text" placeholder="Search Artist" name="artist">
        <button id = "submit" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>



</body>
